//mantine colors
$color-blue: #2C7E85;
$color-blue-light: #9FD4CF;
$color-blue-lighter: #E6F4EF;
$color-corail : #F19274;
$color-corail-light :  #EFD2C4;
$color-white: #FFF9F5;
$color-black: #2C2C2C;
$color-black-light: #777777;
$color-black-lighter: #B6B6B6;
$color-error: #994c42;
$color-error-light: #EFD2C4;

$secondary-color: $color-blue; /*tag*/
$background-dark : $color-blue;

$font-title: 'BebasNeue-Regular';
$font-text: 'Roboto-Regular';
$font-text-bold: 'Roboto-Bold';
$font-text-medium: 'Roboto-Medium';

$border-radius : 10px;

$section-gap : 30px;
$gap : 20px;

$l:1366px;
$md:768px;
$s:480px;

